<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="background">

    <%- include('./partials/wine-nav.ejs') %>

    <div class="wine-show">
        <h2><%= red.name %> <%= red.number %></h2>
        <li> <img src = <%= red.image %>></img> </li>
        <li> <%=red.year%></li>
        <li> <%=red.vineyard%></li>
        <li> <%=red.price%></li>
        <li> <%=red.type%></li>
        <li> <%=red.tasteNote%></li>
        <a href="/sip/red"> <button type="button" name="back">back to red</button></a>

    </div>
  </body>
</html>
