<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="background">

    <%- include('./partials/wine-nav.ejs') %>
    <div class="wine-heading">
      <h1>Post New Wine</h1>
    </div>

    <div id="new-wine-container">

      <img class="mockup" src="https://i.imgur.com/I2oV3Sz.png">

      <div class="add-new">
        <form action="/sip/red" method="POST">
          <%- include('./partials/new-input.ejs') %>
          <select name="type">
          <% for (let i = 0; i < wineTypes.length; i++) { %>
            <option value= <%= wineTypes[i]%>> <%=wineTypes[i]%></option>
          <% } %>
          </select><br/>
          <select name="auctionable">
          <% for (let i = 0; i < auctions.length; i++) { %>
            <option value= <%= auctions[i]%>> <%=auctions[i]%></option>
          <% } %>
          </select><br/>

          <div class="submit">
            <input type="submit" value="Add New Wine"/>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
