<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/wine-logo.ejs') %>

    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>

    <div class="red-container">
      <button><a href="/sip/newred">New Red Wine?</a></button>

      <% for (let i = 0; i < reds.length; i++) { %>
    <div class="red-content">
      <h3><%=reds[i].name%> <%=reds[i].number%> <%=reds[i].year%> </h3>
      <a href="/sip/red/<%=reds[i].id%>">
        <img src= "<%=reds[i].image;%>"/></a>
        <li> <%= reds[i].vineyard %> </li>
        <form action="/sip/red/<%=reds[i].id; %>?_method=DELETE" method="POST">
        <input class="delete-btn" type="submit" value="DELETE"/>
        <button class="edit-btn"><a href="/sip/red/<%=reds[i].id; %>/edit">EDIT</a></button>
        </form>
      </div>
        <% } %>
    </div>
    <!-- <style>
    * {
      border: 1px blue solid;
    }
    </style> -->
  </body>
</html>
