<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="wine-nav">
      <li><a href="/sip">Home</li>
      <li><a href="/sip/about">About</li>
      <li><a href="/sip/red">Red</li>
      <li><a href="/sip/white">White</li>
      <li><a href="/sip/rose">Rose</li>
      <li><a href="/sip/contact">Contact</li>
    </div>
    <form action="/sip/red" method="GET" class="form-inline">
      <%- include('./partials/search.ejs') %>
    </form>
    <div>
      <button><a href="/sip/newred">New Red Wine?</a></button>
      <% for (let i = 0; i < reds.length; i++) { %>
      <h3><%=reds[i].name%> <%=reds[i].number%> <%=reds[i].year%> </h3>
      <a href="/sip/red/<%=reds[i].id%>">
        <img src= "<%=reds[i].image;%>"/></a>
        <form action="/sip/red/<%=reds[i].id; %>?_method=DELETE" method="POST">
        <input class="delete-btn" type="submit" value="DELETE"/>
        <button class="edit-btn"><a href="/sip/red/<%=reds[i].id; %>/edit">EDIT</a></button>
        </form>
        <li> <%= reds[i].vineyard %> </li>
        <% } %>

    </div>
  </body>
</html>
