<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="background">

    <%- include('./partials/wine-nav.ejs') %>

    <div class="wine-show">
        <h2><%= rose.name %> <%= rose.number %></h2>
        <li> <img src = <%= rose.image %>></img> </li>
        <li> Year: <%=rose.year%></li>
        <li> Location: <%=rose.vineyard%></li>
        <li> Pirce: <%=rose.price%></li>
        <li> Type: <%=rose.type%></li>
        <li> Taste note: <%=rose.tasteNote%></li>
        <li> Auction: <%=rose.auctionable%></li>
        <a href="/sip/white"> <button type="button" name="back">Back to Rosé</button></a>

    </div>
  </body>
</html>
