<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/wine-logo.ejs') %>

    <%- include('./partials/wine-nav.ejs') %>

    <div class="wine-container">
      <button><a href="/sip/newrose">New Rose Wine?</a></button>
      <% for (let i = 0; i < roses.length; i++) { %>
      <div class="wine-content">
        <h3><%=roses[i].name%> <%=roses[i].number%> <%=roses[i].year%> </h3>
        <li> <%= roses[i].vineyard %> </li>
        <a href="/sip/rose/<%=roses[i].id%>">
          <img src= "<%=roses[i].image;%>"/></a>
          <form action="/sip/rose/<%=roses[i].id; %>?_method=DELETE" method="POST">
          <input class="delete-btn" type="submit" value="DELETE"/>
          <button class="edit-btn"><a href="/sip/rose/<%=roses[i].id; %>/edit">EDIT</a></button>
          </form>
        </div>
        <% } %>
    </div>
  </body>
</html>
