<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/sip"><h1>sip.</h1></a>
    <a href="/sip"> <button type="button" name="back">back to main</button></a>
    <div class="center-ul">
        <h2><%= wine.name %> <%= wine.number %></h2>
        <li> <img src = <%= wine.image %>></img> </li>
        <li> <%=wine.year%></li>
        <li> <%=wine.vineyard%></li>
        <li> <%=wine.price%></li>
        <li> <%=wine.tasteNote%></li>
        <li> <%=wine.type%></li>
    </div>
  </body>
</html>
