<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="background">

      <%- include('./partials/wine-nav.ejs') %>


      <div class="wine-show">
        <h2><%= white.name %> <%= white.number %></h2>
        <li> <img src = <%= white.image %>></img> </li>
        <li> <%=white.year%></li>
        <li> <%=white.vineyard%></li>
        <li> <%=white.price%></li>
        <li> <%=white.type%></li>
        <li> <%=white.tasteNote%></li>
        <a href="/sip/white"> <button type="button" name="back">back to white</button></a>
    </div>

  </body>
</html>
